$header_bg : green;
$main_bg : orange;

.btn{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

@mixin SetFontSize($value){
    @if $value == small{
        font-size: 12px;
    }
    @else if $value == medium{
        font-size: 16px;
    }
    @else if $value == large{
        font-size: 20px;
    }
    @else{
        font-size: none;
    }
}

.btn-dwonload{
    @extend .btn;
    background-color: red;
    @include SetFontSize(small);
}
.learn-more{
    @extend .btn;
    background-color: green;
}

@mixin para-style ($size, $style){
    font-size: $size;
    text-align: $style;
    margin: 10px 0;
}

[class*="col-" ]{
    float: left;
}

$i: 1;
@while $i<13{
    .col-#{$i}{
        width: 100% / 12 *$i;
    }+
    $i : $i +1;
}

@for $i from 1 through 12{
    .col-#{$i}{width: 100% /12 * $i}
}


// .col-1 {
//     width: 8.33%;
// }
// .col-2 {
//     width: 16.66%;
// }
// .col-3 {
//     width: 25%;
// }
// .col-4 {
//     width: 33.33%;
// }
// .col-5 {
//     width: 41.66%;
// }
// .col-6 {
//     width: 50%;
// }
// .col-7 {
//     width: 58.33%;
// }
// .col-8 {
//     width: 66.66%;
// }
// .col-9 {
//     width: 75%;
// }
// .col-10 {
//     width: 91.66%;
// }
// .col-12 {
//     width: 100%;
// }

.row::after{
    clear: both;
    content: '';
    display: table;
}